# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Python (если есть)
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version
env/
venv/
.env

# Логи и временные файлы
logs/
*.log
*.tmp
.DS_Store
Thumbs.db

# GitHub Actions
!.github/workflows/*.yml

auth.txt
client.ovpn
vpn.pid
vpn.log

# Сборка и кэш
dist/
build/
.cache/
